body{
  background-color: indianred;
  text-align: center;
}

img{
  max-width: 100%;
}

.title{
  color: darkmagenta;
  text-transform: uppercase;
  font-size: 50px;
  text-shadow: 5px 5px rgb(0,0,0);
}

.card{
 margin-top: 75px;;
}

.btn{
  margin-top: 25px;;
}
.subtitle{
  color: black;
  text-shadow: 1px 1px rgb(200, 209, 201);
}
.h5{
  color: #fff;
}